<html>
	<head>
		<style>
			#heading
			{
				border: 3px solid black;
				background-color: rgb(57,114,183);
				height:100px;
				color: silver;
				font-family: Century Schoolbook;
				font-size: 50px;
			}
			
			#image
			{
				margin-left:300px;
			}
			
			#texts
			{
				margin-top: 12px;
			}
		</style>
	</head>
	<body>
		<div id="heading">
			<center>
			<div id="image" style="float:left;">
				<img src="Resources/Images/chat_logo.png" width="100px" height="100px" />
			</div>	
			
			<div id="texts" style="float:left;"> 
				<center>&emsp;All In One Chat Server</center>
			</div>
			</center>
		</div>
	</body>
</html>